@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 0;
    display: flex;
    width: 100w;
    height: 100h;
    justify-content: center;
    background-color: rgb(18, 16, 29);
}

.game{
    font-family: roboto, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 100px;
}

.start {
    all: unset;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.start1,
.start2 {
    transition: transform 0.5s ease, opacity 0.3s ease;
}

/* hover */
.start:hover .start1 {
    transform: translateX(50px);
}

.start:hover .start2 {
    opacity: 0;
    transform: translateX(10px);
}





.caracteres{
    display: flex;
    gap: 20px;
    font-size: 100px;
    align-items: center;
    justify-content: center;
}

.playerText{
    position: relative;
    display: flex;
    gap: 10px;
}


.playerChar{
    height: 100px;
    width: 80px;
    display: flex;
    color: white;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 34, 61);
    border-radius: 15px;
}

.charVazio{
    background-color: rgb(25, 22, 41);

}

.referencia{
    width: 600px;
    height: 150px;
    text-align: center;
    color: white;
}

.inputTexto{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.dropSlot{
    position: relative;
}

.drop{
    color: rgb(120, 0, 0);
    opacity: 1;
    position: var(--posicao);
    height: 100px;
    width: 80px;
    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: drop 0.8s ease-in;
    transform: rotate(var(--rotacao));
}

@keyframes drop {
  to {
    transform: 
      translate(var(--dx), var(--dy))
      rotate(var(--rotacao));
    opacity: 0;
  }
}

.error{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fly{
    color: greenyellow;
    text-align: center;
    position: absolute;
    display: flex;
    font-size: 30px;
    animation: fly 1s ease;
}

@keyframes fly {
    to{
        transform: translateY(-30px);
        opacity: 0;
    }
}

.flyNegativo{
    color: rgb(255, 47, 47);
    text-align: center;
    position: absolute;
    display: flex;
    font-size: 30px;
    animation: fly 1s ease-out;
}

.vida{
    background-color: white;
    width: 100vw;
    height: 5px;
    transform: scaleX(var(--vida-atual));
    animation: ease-out;
}