body {
    all: unset;
    gap: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-color);
    font-family: roboto, sans-serif;
}

.login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    display: flex;
    width: 1000px;
    height: 400px;
}

.title{
    color: white;
    position: absolute;
    top: -15%;
    font-size: 50px;
}

form{
    filter: var(--drop-shadow);
    background-color: rgb(16, 11, 27);
    height: 500px;
    width: 50%;
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    align-items: center;
}

form button{
    all: unset;
    background-color: green;
    height: 50px;
    width: 100%;
    color: white;
    font-weight: bold;
    outline: 2px solid darkgreen;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

form button:hover{
    scale: 1.03;
    font-size: 20px;
}

.banner-container{
    width: 50%;
    max-height: 100%;
    display: flex;
    background-color: black;
    filter: var(--drop-shadow)
}

.banner{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    box-sizing: border-box;
    padding: 15px;
}

.banner-quote{
    width: 100%;
    word-break: break-all;
}

.input-box{
    position: relative;
    width: 100%;
}

.input-box input{
    all: unset;
    width: 95%;
    padding: 10px 12px;
    background-color: rgb(6, 5, 10);
    outline: 1px solid rebeccapurple;
    border-radius: 20px;
    color: white;
}

.input-box label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0 6px;
    color: lightgray;
    font-weight: 500;
    transition: 0.3s ease;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
    color: white;
}

