a{
    cursor: pointer;
}

nav button{
    all: unset;
    cursor: pointer;
}

.nav-left a {
  text-decoration: none;
  color: white;
}

.nav-left button{
    text-decoration: none;
    color: white;
}

nav {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: stretch;
    background-color: var(--secondary-bg-color);
    color: white;
    font-size: 20px;
    z-index: 1;
    
}


.item {
    transform: skew(-20deg);
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: padding 0.2s ease-out;
    position: relative;
    overflow: hidden;
}

.item:hover{
    padding: 0 56px;
    transition: padding 0.3s cubic-bezier(.34, 1.56, .64, 1);
}

.item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    width: 0%; 
    transition: width 0.3s ease-out;
    z-index: -1;
}

.item:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
}

.item span{
    transform: skew(20deg);
    font-weight: bolder;
}

.menu{
    background-color: #595959;
    margin-left: -10px;
}

.arcade{
    background-color: #BF9000; 
}

.mult{
    background-color: #548235;
}

.rank{
    background-color: #7030A0;
}

.auth{
    position: absolute;
    background-color: var(--tercenary-bg-color);
    top:20px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.nav-left, .nav-center, .nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-left{
    justify-content: left;
}

.nav-right{
    justify-content: right;
}

.nav-right a{
    text-decoration: none;
    color: white;
}

.hidden{
    display: none;
}

.nav-right a{

}

.user-info{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.user{
    background-color: #0070C0;
}

.logout{
    background-color: #4472C4;
    margin-right: -10px;
}

.nav-right a:hover{

}

.menu-config{
    display: grid;
    grid-template-columns: 60px 350px 1fr;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 1s ease;
}

.categories-config{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.options-config{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: rgba(25, 25, 25, 0.5);
}

.section{
    display: flex;
    flex-direction: column;
    border-left: rgb(70, 70, 70) 5px solid;
    padding-left: 15px;
    gap: 10px;
    width: 250px;
}

.close-config{

}

.config-off{
    right: 0;
}

.hidden{
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}


