nav button{
    all: unset;
}

.nav-left a {
  text-decoration: none;
  color: white;
}

nav {
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: white;
    font-size: 20px;
    z-index: 1;
}

.auth{
    position: absolute;
    background-color: var(--tercenary-bg-color);
    top:20px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.nav-left, .nav-center, .nav-right{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.nav-right a{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: green;
    border-radius: 5px;
    padding: 3px 8px;
    font-weight: bold;
    transition: filter 0.2s ease, scale 0.2s ease;
}

.nav-right a:hover{
    filter: brightness(1.1);
    scale: 1.05;
}