<%- include('partials/doc', {css: ['root.css','style.css']}) %>
<body>
    <%- include('partials/nav') %>
    <%- include('partials/canvas') %>
    <main class="game">
        <h1 class="title">Typerist</h1>
        <div class="referencia">
            <div class="caracteres"></div>
        </div>
        <div class="escrever">
            <div class="playerText">
                <div class="dropSlot"></div>
                <div class="error"></div>

            </div>
            <div class="start">
                <button>
                    <svg viewBox="0 0 10.32 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.13783 3.45878L2.60498 0.192353C1.40816 -0.406058 0 0.464235 0 1.80232V7.9774C0 9.31549 1.40816 10.1858 2.60498 9.58737L9.13783 6.32094C10.3171 5.73131 10.3171 4.04842 9.13783 3.45878Z"/>
                    </svg>
                </button>
            </div>
            <input type="text" class="inputTexto" autocomplete="off" autocorrect="off" spellcheck="false">
        </div>
    </main>
    <footer class="gameRodape">
        <div class="left"></div>
        <div class="right"></div>
    </footer>
    <div class="game-over hidden overlay">
        <div class="game-over-back">
            <h1 class="game-over-title"></h1>
            <div class="placar">
                <div>Pontos: <span class="pontos">50</span></div>
                <div>Combo Máximo: <span class="combo">500</span></div>
            </div>
            <button class="reiniciar"></button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/main.bundle.js"></script>

</body>
</html>