<%- include('partials/doc', {css: ['root.css','style.css']}) %>
<body>
    <%- include('partials/nav') %>
    <div class="game">
        <div class="referencia">
            <div class="caracteres"></div>
        </div>
        <div class="escrever">
            <div class="playerText">
                <div class="dropSlot"></div>
                <div class="error"></div>

            </div>
            <button class="start">
                <div class="start1">▶︎</div>
                <div class="start2"><%= t.start%></div>
            </button>
            <input type="text" class="inputTexto" autocomplete="off" autocorrect="off" spellcheck="false">
        </div>
    </div>
    <footer class="gameRodape">
        <div class="left"></div>
        <div class="right"></div>
    </footer>
    <div class="game-over hidden overlay">
        <div class="game-over-back">
            <h1 class="game-over-title"></h1>
            <div class="placar">
                <div>Pontos: <span class="pontos">50</span></div>
                <div>Combo Máximo: <span class="combo">500</span></div>
            </div>
            <button class="reiniciar"></button>
        </div>
    </div>
    <script src="assets/js/main.bundle.js"></script>

</body>
</html>