<%- include('partials/doc', {css: ['root.css','style.css']}) %>
<body>
    <%- include('partials/nav') %>
        <div class="login">
            <div class="login-container"></div>
        </div>
    <script src="assets/js/main.bundle.js"></script>

</body>
</html>