<%- include('partials/doc', {css: ['root.css', 'register.css']}) %>
<body>
    <%- include('partials/nav') %>
    <main class="register">
        <div class="register-container">
            <h1 class="title">Criar Conta</h1>
            <form action="/register" method="post">
                <div class="register-box">
                    <div class="field">
                        <input type="text" id="nickname" required placeholder=" " name="nickname">
                        <label for="nickname">Apelido</label>
                    </div>
                    <div class="field">
                        <input type="email" id="email" required placeholder=" " name="email">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="field">
                        <input type="password" id="password" required placeholder=" " name="password">
                        <label for="password">Senha</label>
                    </div>
                    <div class="field">
                        <input type="password" id="repeatPass" required placeholder=" " name="repeatPass">
                        <label for="repeatPass">Repetir senha</label>
                    </div>
                    <span class="error-message off">*As senhas não correspondem*</span>
                    <button>Registrar</button>
                </div>
            </form>
        </div>
    </main>
    <script src="assets/js/register.bundle.js"></script>

</body>
</html>
