<%- include('partials/doc', {css: ['root.css','resetPassword.css']}) %>
<%- include('partials/dialog') %>
<body>
    <%- include('partials/nav') %>
    <main>
        <div class="recovery-container">
            <h1 class="reset-title title">Recuperar Senha</h1>
            <div class="status-message">Um momento</div>
            <div class="recovery hidden">
                <form action="recovery" method="POST">
                    <div class="input-box recovery-box">
                        <h2>Redefina a senha para: <strong class="user-email"></strong></h2>
                        <div class="field">
                            <input type="password" id="password" class="password-input" name="password" placeholder=" " required>
                            <label for="password">Nova senha</label>
                        </div>
                        <div class="field">
                            <input type="password" id="password-repeat" class="password-input repeat" name="password-repeat" placeholder=" " required>
                            <label for="password-repeat">Repetir senha</label>
                        </div>
                        <button class="send">Redefinir</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
        <script src="assets/js/recovery.bundle.js"></script>
</body>
</html>
