<style>
#graphics {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -2;
}

#graphics-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    backdrop-filter: blur(1px);
}

</style>

<canvas id="graphics"></canvas>
<div id="graphics-filter"></div>
<script src="assets/js/canvas.bundle.js"></script>