<nav>
    <div class="nav-left">
        <div class="menu">•••</div>
        <div class="arcade-nav"><%=t.arcade%></div>
        <div class="mult-nav"><%=t.multiplayer%></div>
        <div class="rank-nav"><%=t.rank%></div>
    </div>
    <div class="nav-center">
        <span class="logo-text">Typerist</span>
    </div>
    <div class="nav-right">
        <div class="auth hidden">
            <div class="tabs">
                <button data-tab="login">Login</button>
                <button data-tab="register">Register</button>
                <div class="login-tab">
                    <span>E-mail</span>
                    <input type="text" placeholder="e-mail">
                </div>
                <div class="register-tab">
                    <span>Senha</span>
                    <input type="password" placeholder="password">
                    <span>Repetir senha</span>
                    <input type="password" placeholder="repetir senha">
                </div>
            </div>
        </div>
    </div>
</nav>